{% extends 'base.html' %}
{% load static %}
{% block css %}
<link rel="stylesheet" href="{% static 'blog.css' %}"> 
{% endblock%}
{% block content %}

    <main role="main">

        <div class="container">
            <br>
            <h1 class="text-center pt-3 blog-headline" >Welcome to Lutfor Rahman's Blog</h1>
            <br />
            <br />
            {% if  blogs %}
            <h2 class="text-center pt-3 blog-latest">Latest Posts</h2>
            <hr>


            {% for blog in blogs %}
            <div class="row">
                <a class="blog-link" href="{% url  'detail' blog.id %}" >
                    <div class="card mb-3 blog-card">
                        <div class="row no-gutters">
                            <div class="col-md-4">
                                <img src="{{ blog.image.url }}" class="card-img" alt="">
                            </div>
                            <div class="col-md-8">
                                <div class="card-body">
                                    <h5 class="card-title">{{ blog.title }}</h5>
                                    <p class="card-text">{{  blog.summary|safe }}</p>
                                    <p class="card-text"><small class="text-muted">{{ blog.pub_date_pretty }}</small>
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </a>
            </div>

            {% empty %}
            <h3 class="text-center pt-3">Sorry, no blogs published yet!</h3>
            {% endfor %}
            {% endif %}

            





        </div>


    </main>
{% endblock %}