{% extends 'base.html' %}
{% load static %}

{% block content %}

    <main role="main">

        <div class="container">

                    <br>
                    <br>

                    <h1 class="text-center pt-3" style="font-family: 'Baskervville', serif; color: black;
                    background-color: #f2e6e6; padding: 5px;">{{ blog.title }}</h1>
                    <br>
                    <h2 class="text-center pt-3" style=" font-family: 'Roboto', sans-serif; color: #5AC18E;">{{blog.pub_date}}</h2>
                    <br>
                    <img class="img-fluid" style="display:block; margin:auto;" src="{{ blog.image.url }}" alt="Blog image">
                    <br>
                    <br>
                    <br>
                    <p style="font-size: large;">{{  blog.body }}</p>
                    <br>
                    {% if  blog.blog_url %}
                    <div class="link-class">
                        <a href="{{  blog.blog_url }}" style=" font-family: 'Modak', cursive; " target="_blank" >This article is also published here...</a>
                    </div>
                    {% endif %}
                    <br>
                    <br>
                    <hr> 

        </div>
        
        
    </main>

{% endblock %}