{% extends "base.html" %}
{% load static %}
{% block css %}
<link rel="stylesheet" href="{% static 'home.css' %}">
{% endblock%}
{% block content %}

<section class="jumbotron text-center">
    <div class="container">
        <div class="row">
            <div class="col-md-6 border jumbroton-col">

                <h1 class="jumbotron-heading">Hi! , I'm
                    Md Lutfor
                    Rahman</h1>
                <p class="animated infinite pulse delay-1s jumbroton-about">
                    I am a web developer and machine learning enthusiast.</p>
                <p class="animated lightSpeedIn delay-1s">
                    <a class="jumbroton-links" href="mailto:lutfor15-5516@diu.edu.bd" target="_blank" title="Mail"><i
                            class="far fa-envelope fa-2x"></i></a>
                    <a class="jumbroton-links" href="https://join.skype.com/invite/jwxRxWSbJO7W" target="_blank"
                        title="Skype"><i class="fab fa-skype fa-2x"></i></a>
                    <a class="jumbroton-links" href="https://github.com/shifat151" target="_blank" title="Github"><i
                            class="fab fa-github fa-2x"></i></a>
                    <a class="jumbroton-links" href="https://www.hackerrank.com/lutfor15_5516" target="_blank"
                        title="HackerRank"><i class="fab fa-hackerrank fa-2x"></i></a>
                    <a href="https://www.linkedin.com/in/md-lutfor-rahman-shifat-917481b2" target="_blank"
                        title="LinkedIn">
                        <i class="fab fa-linkedin-in fa-2x"></i></i></a>
                </p>


            </div>

            <div class="col-md-6 border profile-image-div">
                <img src="{{ profile.pic.url }}" class="materialboxed rounded-circle profile-image" alt="shifat.jpg"
                    width="180px" height="180px">
            </div>


        </div>
    </div>
</section>

<section class="content">

    <div class="container">
        <div class="row ">
            <div class="skill-box-small">
                <h5 class="skill-box-small-text"> About me </h5>
            </div>
            <div class="row academic-box px-3">
                <p>{{ profile.obj }}</p>
            </div>
        </div>


        <br>

        <div class="skill-box-small px-3">
            <h5 class="skill-box-small-text"> skill </h5>
        </div>

        <div class="skill-box">
            <ul class="nav nav-tabs nav-justified">
                <li class="nav-item"><a class="nav-link active" data-toggle="tab" href="#language">Language</a></li>
                <li class="nav-item"><a class="nav-link" data-toggle="tab" href="#project">Projects</a></li>
            </ul>

            <div class="tab-content container">
                <div id="language" class="tab-pane active">
                    <div class="row">

                        {% for language in language %}
                        <div class="col-md-3 card-column">
                            <div class="card-group">
                                <div class="card  text-black">
                                    <img class="card-img-top rounded-circle center" src="{{ language.image.url }}"
                                        alt="language image">
                                    <div class="card-body">
                                        <h5 class="card-title">{{language.lang_name}}</h5>
                                        <p class="card-text">{{ language.lang_summary }}</p>
                                        {% if language.framework_set.all %}
                                        <h5 class="card-title">Framework</h5>
                                        {% for framework in language.framework_set.all %}

                                        <ul>
                                            <li>{{ framework.framework_name}}</li>
                                        </ul>

                                        {% endfor %}
                                        {% endif %}

                                    </div>
                                </div>
                            </div>
                            <br>
                        </div>

                        {% endfor %}

                    </div>
                </div>
                <div id="project" class="tab-pane">
                    <div class="row">
                        {% for project in project %}
                        <div class="col-md-3 card-column">
                            <div class="card-group center">
                                <div class="card">
                                    <div class="card-body">

                                        <div class="row align-middle">
                                            <div class="col-sm-9">
                                                <h5 class="card-title center">{{ project.proj_title }}</h5>
                                            </div>
                                            <div class="col-sm-3">
                                                <a href="{{project.proj_link}}" target="_blank"><i
                                                        class="fab fa-github fa-2x"></i></a>
                                            </div>
                                        </div>

                                        <p class="card-text">{{ project.proj_desc }}</p>
                                        <h5 class="card-title">Framework used:</h5>
                                        {% for framework in project.frameworks.all %}

                                        <ul>
                                            <li>{{ framework.framework_name}}</li>
                                        </ul>
                                        {% endfor %}

                                    </div>
                                </div>
                            </div>
                        </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>



        <br>
        <br>


        <div class="skill-box-small">
            <h5 class="skill-box-small-text"> Academic </h5>
        </div>
        <div class="row academic-box px-3">
            <table class="table">
                <thead>
                    <tr>
                        <th scope="col">Degree</th>
                        <th scope="col">Institution</th>
                        <th scope="col">GPA</th>
                        <th scope="col">Passing year</th>
                    </tr>
                </thead>

                <tbody>
                    {% for academic in academic %}
                    <tr>
                        <td>{{ academic.exam_name }}</td>
                        <td>{{ academic.exam_school }}</td>
                        <td>{{ academic.exam_gpa }}</td>
                        <td>{{ academic.exam_year}}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>


    </div>
    <br>
    <br>





    {% endblock %}